 .App{
      background: url('./components/images/quiz-boardBg.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      height: 700px;
      margin: 0 auto;
 }